@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Rubik+Moonrocks&display=swap');
$fontMain:'Roboto Condensed', sans-serif;
$secondaryFont:'Rubik Moonrocks', cursive;

$textLg:3em;
$textMd:2em;
$textSm:1em;
$textBold:700;
$textRegular:400;
$textLight:300;



