//vars globales

//colors
$mainColor: rgba(14, 143, 94,.5);
$secondaryColor: rgba(238,188,247,.7);
$keyColorNav:#1f1f1f;
$keyColor:#6CCCc9;
$keyColor2:#0E8F5E;
$white:#F9F5F5;
$black:#1B1B1B;
$colorResaltado: yellow;

//SIZING

$w-100:100%;
$w-50:50%;


$bg-liviano:bg-light;
$bg-real:rgba(0, 255, 255, .1);


